* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: white;
    
}

header {
   background: linear-gradient(to bottom, #6a0001 , #000000);
    color: white;
    padding: 20px;
    text-align: left;
}



/* Styling for Navigation */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width:180px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Styling for Resume Button */
.resume-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
}
.resume-button img {
    width: 30px;
    margin-right: 10px;
}

/* Syling for content in index.html */
#about {
    padding: 80px 0;
    color: #fff;

}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutCol1 {
    flex-basis: 35%;
}

.aboutCol1 img {
    width: 100%;
    border-radius: 15px;
}

.aboutCol2 {
    flex-basis: 60%;
}


.index-content {
    margin-top: 14%;
    color:#fff;
    max-width: 620px;
}

.index-content h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
    text-align: center;
}


/* Styling for tablinks in index.html */
.tabTitles {
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tabLinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: #6a0001;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tabLinks.activeLink::after{
    width: 100%;
}

.tabContents ul li {
    list-style: none;
    margin: 10px 0;
}

.tabContents ul li span {
    color: #6a0001;
    font-size: 14px;
}

.tabContents {
    display: none;
}

.tabContents.activeTab {
    display: block;
}

/* Styling for Rotating Header in index.html */
.rotatingHeading {
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 40px;
}

.rotatingHeading h1 {
    font-size: 45px;
}

.innerHeading {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;
}

.innerHeading span {
    position: relative;
    color:#6a0001;
    animation: animation 10s ease infinite;
}

@keyframes animation {
    0% {
        top: 0;
    }
    20% {
        top: 0px;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }
}

/* Styling for my projects on index.html */

/* header for my projects */
#portfolio {
    padding: 30px 0;
}
.container h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projectList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projectList div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projectList div img {
    font-size: 50px;
    margin-bottom: 30px;
}

.projectList div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projectList div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projectList div:hover {
    background: #6a0001;
    transform: translateY(-10px);
}


/* Styling for Resume.html */

/* Styling for header of resume */
.resumeHeader h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 0;
}
.resumeHeader h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
}

.infoColums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.column {
    width: 30%;
    background-color: #262626;
    padding: 15px;
    margin: 10px;
    border: 1px solid #6a0001;
    border-radius: 5px;
    box-shadow: 0 0 10px #6a0001;
}

.column ul {
    list-style: square;
    padding-left: 20px;
}

/* Experience & Education */
#experience, #education {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    background-color: #262626;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #6a0001;
}

.job {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #6a0001;
}

.school {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #6a0001;
}
/* Styling for footer */

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 8px;
    background-color: #fff;
    margin: 10px;
    border-radius: 60%;
}

.socialIcons a img {
    color:#000000;
    opacity: 0.9;
    width: 30px;
}

/* Hover Effect on Social Media Icons */
.socialIcons a:hover {
    background-color: #6a0001;
    transition: 0.5s;
}

.socialIcons a:hover img {
    color: #fff;
    transition: 0.5s;
}

/* Styling for contact.html */

.contactLeft {
    flex-basis: 35%;
}

.contactRight {
    flex-basis: 60%;
}

.contactLeft p {
    margin-top: 30px;
}

.contactLeft p img {
    color: #fff;
    margin-right: 15px;
    font-size: 30px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px; 
    border-radius: 6px;
}




/* Styling for Footer Navigation */

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #262626;
}